html {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: #f7e9db;
}

h1 {
    /*Gets rid of gap at the top*/
    margin: 0;
    padding: 20px 0;
    color: #f46a61;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 5px #545454;
}

p,
li,
a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/*my first method of creating 'buttons', this uses the 
list elements with stylings to emulate a button.*/
li.naventry {
    text-align: center;
    border-bottom: 1px solid #545454;
}

/*since the list and a border around it already, the 
final entry doesnt actually need a bottom border*/
li.naventry:last-child {
    border-bottom: none;
}


li.naventry a {
    display: block;
    color: black;
    background-color: #ffe1c4;
    text-decoration: none;
}

/*Adds a nice colour change when the 'button' is hovered over*/
li.naventry a:hover {
    background-color: #545454;
    color: #f7e9db;
}

li.naventry a.active {
    background-color: #f46a61;
    color: #f7e9db;
}

/*container for all of the entries*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f7e9db;
    border: 1px solid #545454;
}

body {
    width: 1000px;
    margin: 0 auto;
    /*top, right, bottom, left*/
    padding: 0 20px 20px 20px;
    border: 10px solid #545454;
    background-color: #f7e9db;
}

/*decided to use a different method for a different set of buttons, 
still using the anchor tag as it is a nav button*/
.projbutton {
    background-color: #f46a61;
    border: none;
    color: white;
    height: 50px;
    width: 33%;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto ;
    border-radius: 8px;
    transition-duration: 0.3s;
    display: block;
    cursor: pointer;
}

.projbutton:hover {
    background-color: #545454;
    color: white;
}

.projbutton.off:hover {
    background-color: #f46a61;
}

.projbutton.off {
    opacity: 0.6;
    cursor: not-allowed;
}


img {
    display: block;
    width: 200px;
    margin: 10px 0;

}