html {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: #f7e9db;
}

h1 {
    /*Gets rid of gap at the top*/
    margin: 0;
    padding: 20px 0;
    color: #f46a61;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 5px #545454;
}

p,
li,
a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

li.naventry {
    text-align: center;
    border-bottom: 1px solid #545454;
}

li.naventry:last-child {
    border-bottom: none;
}


li.naventry a {
    display: block;
    color: black;
    background-color: #ffe1c4;
    text-decoration: none;
}

li.naventry a:hover {
    background-color: #545454;
    color: #f7e9db;
}

li.naventry a.active {
    background-color: #f46a61;
    color: #f7e9db;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f7e9db;
    border: 1px solid #545454;
}

body {
    width: 600px;
    margin: 0 auto;
    /*top, right, bottom, left*/
    padding: 0 20px 20px 20px;
    border: 10px solid #545454;
    background-color: #f7e9db;
}



img {
    display: block;
    margin: 0 auto;
}